{% extends "base.html" %}

{% block content %}
        <div class="content">
            <div class="messageDiv">
                <form action="{% url 'home:TodoCreate' %}" method="POST">{% csrf_token %}
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">메모하기!</button>
                        </span>
                    </div>
                </form>
            </div>

            <div class="toDoDiv" style="width: 100%;">
                <ul class="list-group">
                    {% for todo in guest_todo %}
                    {% if todo.isDone == False %}
                        <div class="input-group" style="margin-top: 0; margin-bottom: 10px;" name='todo1'>
                            <li class="list-group-item" style="width: 100%;"><a href="{% url 'home:TodoDetail' todo.id %}">{{ todo.content }}</a></li>
                            <form action="{% url 'home:TodoDelete' todo.id %}" method="POST">{% csrf_token %}
                                <input type="hidden" id="todoNum" name="pk" value="{{ todo.id }}"></input>
                                <span class="input-group-addon" style="width: 10%;">
                                    <button type="submit" class="custom-btn btn btn-danger">Remove</button>
                                </span>
                            </form>
                        </div>
                    {% else %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
{% endblock content %}